# Generated makefile files
.Makefile.coq.d
CoqMakefile
CoqMakefile.conf
Makefile.coq
Makefile.coq.conf

# Coq Compile files
*.aux
*.glob
*.vo
*.vok
*.vos
recursors_named/foo.v
recursors_named/UnitTests/tests/
report/
ressources/
slides_report/
recursors_api/UnitTests/tests/